<div class="top-section">
	<div class="inner-content">
		<div class="left-content">
			<div class="blurb-content">
				<div class="title">
					Building the Future of Medical Imaging Analysis Together
				</div>
				<div class="blurb">Kimono Labs enables you to develop and deploy deep learnign detection algorithms to revolutionize medical imaging analysis.</div>
				<div class="email-section">
					<form>
						<input class="email-input">
						<button>
					</form>
				</div>
			</div>
		</div>
		<div class="right-content">
			
		</div>
	</div>
</div>