
<div class="top-section">
	<div class="inner-content">
		<div ng-include="'views/partials/header.html'"></div>
		<div class="left-content">
			<div class="blurb-content">
				<div class="title">
					Building the Future of Medical Imaging Analysis Together
				</div>
				<div class="blurb">Kimono Labs enables you to develop and deploy deep learnign detection algorithms to revolutionize medical imaging analysis.</div>
				<div class="email-section">
					<form>
						<input class="email-input" type="email" placeholder="Signup For Early Access">
						<button class="signup-button">Sign Up</button>
					</form>
				</div>
			</div>
		</div>
		<div class="right-content">
			<img src="../images/image-analysis.png"/>
		</div>
	</div>
</div>

<div class="second-section">
	<div class="inner-content">
		<div class="title">From Discovery to Deployment</div>
		<div class="subtext">KimonoLabs allows researchers to develop, validate and integrate image analysis detection algorithms into the most popular clinical imaging devices and solutions</div>
	</div>
</div>